.container{
    width:300pt;
    margin-top:20px;
    border-radius: 30px;
    border: 2px #3C3D3F solid;
    background-color:#888888;
    padding:20px 10px 10px 10px;
}

.column{
    display: flex;
    flex-direction: column; 
}