.news-feed {
    height: 500px;
    width:535px;
    overflow: auto;
}

.column{
    display: flex;
    flex-direction: column; 
}

.news-row{
    display:flex;
    flex-flow:flex-start;
    flex-wrap: wrap;
    border: 1pt solid;
}

.thumbnail{
    width:100px;
    height:100px;
    object-fit: contain;
    background-color: black;

}

.title{
    width:400px;
    font-size: 14px;
    font-weight: bold;
}

.text{
    font-size: 12px;
}