@import 'variables';

.graph-title {
  font-family: $fonts;
  font-size: $font-regular;
}

.graph-container {
  min-width: 580px;
  margin: 10px;

  .button-bar {
    padding-left: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    button {
      margin: 10px;
      background-color: $color-5;
      border: 1px solid $color-4;
      border-radius: 5px;
      cursor: pointer;

      &:disabled {
        background-color: #C4C4C4;
        cursor: not-allowed;
      }
    }
  }
}

@media only screen and (min-width : $mobile-breakpoint) {
  .graph-container {
    min-width: 0;
    width: 560px;
    max-height: 280px;
    margin: 10px;
  }
}