@import 'variables';

.lpageContent{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

.Title{
    width: 100%
}

.App {
    text-align: center;
}

.landing-box {
    background-image: url('../../images/sayagata-400px.png');
    object-fit: contain;
    border: 3px solid $color-4;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;

    .Title{
        width: 100%;
        color: #464646;
        font-style: bold;
        text-shadow: $shadow-1;
    }

    .google-button {
        box-shadow: $shadow-1;
    }
}