$dash-block: 100px;
$mobile-breakpoint: 600px;

$color-1: #fcfcfc;
$color-2: #dfdfdf;
$color-3: #ffffff;
$color-4: #c5c5c5;
$color-5: #f6f6f6;

$shadow-1: (rgba(0, 0, 0, 0.3) 0 1px 6px);

$font-small: 12px;
$font-regular: 18px;
$font-large: 24px;
$fonts: Roboto, sans-serif