@import 'variables';

.dashboard-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: [row-1] 10% [row-2] 30% [row-3] 20% [row-4] 20% [row-5] 20% [row-6] 10% [end];
  max-width: 1000px;
  height: 12 * $dash-block;
  margin: auto;

  .dashboard-item {
    margin: 10px 5px;
    box-shadow: $shadow-1;
    background-color: #ffffff;
    border-radius: 2px;
  }

  .portfolio-overview {
    grid-row: row-1 / row-2;

    .overview-container {
      padding: 10px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
      font-size: 16px;
      line-height: 20px;
      vertical-align: middle;
    }

    .spinner {
      margin: 25px auto;
    }
  }

  .dashboard-graph {
    grid-row: row-2 / row-3;
    overflow-x: auto;
    overflow-y: hidden;
  }

  .portfolio-summary {
    grid-row: row-3 / row-4;
  }

  .rooms {
    grid-row: row-4 / row-5;
  }

  .news-feed {
    grid-row: row-5 / row-6;
    overflow: auto;
    padding: 10px;
  }

  ticker {
    grid-row: row-6 / end;
  }
}

@media only screen and (min-width : $mobile-breakpoint) {
  .dashboard-container {
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: [row-1] 10% [row-2] 40% [row-3] 40% [row-4] 10% [end];
    height: 8 * $dash-block;

    .portfolio-overview {
      grid-column: 1 / 6;
      grid-row: row-1 / row-2;

      .overview-container {
        padding: 20px;
        font-size: 20px;
        line-height: 20px;
        vertical-align: middle;
      }

      .spinner {
        margin: 10px auto;
      }
    }

    .dashboard-graph {
      grid-column: 1 / 4;
      grid-row: row-2 / row-3;
    }

    .portfolio-summary {
      grid-column: 4 / 6;
      grid-row: row-2 / row-3;
    }

    .rooms {
      grid-column: 1 / 3;
      grid-row: row-3 / row-4;
    }

    .news-feed {
      grid-column: 3 / 6;
      grid-row: row-3 / row-4;
    }

    .ticker {
      grid-column: 1 / 6;
      grid-row: row-4 / end;
    }
  }
}