@import 'variables';

.summary-table {
  border: none;
  width: 100%;
  height: 220px;
  .rt-td {
    border: none;
  }
}

.pending-table {
  border: none;
  width: 100%;
  font-size: $font-small;
  .rt-td {
    border: none;
    height: 25px;
  }
}

@media only screen and (min-width : $mobile-breakpoint) {
  .summary-table {
    height: 100%
  }

}

