.dashboard-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: [row-1] 10% [row-2] 30% [row-3] 20% [row-4] 20% [row-5] 20% [end];
  max-width: 1000px;
  height: 1200px;
  margin: auto; }
  .dashboard-container .dashboard-item {
    margin: 10px 5px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 6px;
    background-color: #ffffff;
    border-radius: 2px; }
  .dashboard-container .portfolio-overview {
    grid-row: row-1 / row-2; }
    .dashboard-container .portfolio-overview .overview-container {
      padding: 10px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
      font-size: 16px;
      line-height: 20px;
      vertical-align: middle; }
    .dashboard-container .portfolio-overview .spinner {
      margin: 25px auto; }
  .dashboard-container .dashboard-graph {
    grid-row: row-2 / row-3;
    overflow-x: auto;
    overflow-y: hidden; }
  .dashboard-container .portfolio-summary {
    grid-row: row-3 / row-4; }
  .dashboard-container .rooms {
    grid-row: row-4 / row-5; }
  .dashboard-container .news-feed {
    grid-row: row-5 / end;
    overflow: auto;
    padding: 10px; }

@media only screen and (min-width: 600px) {
  .dashboard-container {
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: [row-1] 10% [row-2] 40% [row-3] 40% [end];
    height: 800px; }
    .dashboard-container .portfolio-overview {
      grid-column: 1 / 6;
      grid-row: row-1 / row-2; }
      .dashboard-container .portfolio-overview .overview-container {
        padding: 20px;
        font-size: 20px;
        line-height: 20px;
        vertical-align: middle; }
      .dashboard-container .portfolio-overview .spinner {
        margin: 10px auto; }
    .dashboard-container .dashboard-graph {
      grid-column: 1 / 4;
      grid-row: row-2 / row-3; }
    .dashboard-container .portfolio-summary {
      grid-column: 4 / 6;
      grid-row: row-2 / row-3; }
    .dashboard-container .rooms {
      grid-column: 1 / 3;
      grid-row: row-3 / end; }
    .dashboard-container .news-feed {
      grid-column: 3 / 6;
      grid-row: row-3 / end; } }

/*
.dashboard-container {
  display: grid;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 800px;
  margin: auto;


  .dashboard-row {
    width: 100%;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: [row-1] 20% [row-2] 20% [row-3] 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .dashboard-item {
      margin: 10px;
      float: left;
      box-shadow: 1px 1px 8px 0 rgba(0, 0, 0, 0.2);
      background-color: $color-1;
    }

    .portfolio-overview {
      width: 100%;
      height: $dash-block;
    }

    .portfolio-graph {
      width: 100%;
      height: 3 * $dash-block;
    }

    .portfolio-summary {
      width: 100%;
      height: 3 * $dash-block;
    }

    .rooms {
      width: 100%;
      height: 3 * $dash-block;
    }

    .news-feed {
      width: 100%;
      height: 3 * $dash-block;
    }


    @media only screen and (min-width : $mobile-breakpoint) {
      .portfolio-overview {
        width: 100%;
        height: $dash-block;
      }

      .portfolio-graph {
        width: 0;
        flex-grow: 2;
        height: 3 * $dash-block;
      }

      .portfolio-summary {
        width: initial;
        flex-grow: 1;
        height: 3 * $dash-block;
      }

      .rooms {
        width: initial;
        flex-grow: 2;
        height: 3 * $dash-block;
      }

      .news-feed {
        width: initial;
        flex-grow: 2;
        height: 3 * $dash-block;
      }
    }
  }


}*/

/*# sourceMappingURL=dashboard.css.map */